/**
 * Async Action: {{functionName}}
 */
const {{functionName}} = async (req: {{inputType}}): Promise<APIResponse<{{outputType}}>> => {
  const res = await callConnect(client.value.{{functionName}}.bind(client.value), req, (res) => res);
  if (!res.error) queryClient.invalidateQueries({ queryKey: ["{{resource}}"] });
  return res;
};

{{#isQuery}}
/**
 * Standard Hook: {{hookName}}
 */
const {{hookName}} = (
  input: any, 
  options: any = {}
) => {
  return useQuery({
    queryKey: queryKeys.{{functionName}}(input),
    queryFn: () => client.value.{{functionName}}(unref(input)),
    ...options,
  });
};

{{#isPaginated}}
/**
 * Infinite Hook: {{infiniteHookName}}
 */
const {{infiniteHookName}} = (
  input: any, 
  options: any = {}
) => {
  return useInfiniteQuery({
    queryKey: queryKeys.{{functionName}}(input),
    queryFn: async ({ pageParam }) => {
      const req = JSON.parse(JSON.stringify(unref(input)));
      const path = "{{reqPath}}".split('.');
      
      let curr = req;
      for (let i = 0; i < path.length - 1; i++) {
        curr[path[i]] = curr[path[i]] || {};
        curr = curr[path[i]];
      }
      curr[path[path.length - 1]] = pageParam;
      return client.value.{{functionName}}(req);
    },
    initialPageParam: options.initialPageParam ?? "", 
    getNextPageParam: (lastPage: any) => {
      const path = "{{resPath}}".split('.');
      const val = path.reduce((o, i) => o?.[i], lastPage);
      if (typeof val === 'object' && val !== null) {
        return val.nextPageToken || val.nextPage || undefined;
      }
      return val || undefined;
    },
    ...options,
  });
};
{{/isPaginated}}
{{/isQuery}}

{{^isQuery}}
/**
 * Mutation Hook: {{hookName}}
 */
const {{hookName}} = (
  options: any = {}
) => {
  return useMutation({
    mutationFn: (req: {{inputType}}) => client.value.{{functionName}}(req),
    onSuccess: async (data, variables, context) => {
      await queryClient.invalidateQueries({ queryKey: ["{{resource}}"] });
      if (options.onSuccess) return options.onSuccess(data, variables, context);
    },
    ...options,
  });
};
{{/isQuery}}